<a href="https://colab.research.google.com/github/woshitima/hello-world/blob/master/TimurOsmonov_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Напишите программу, которая возведет число в квадрат.

Пример:

* 4 → 16
* 3 → 9

In [ ]:
x=float(input('Enter number: '))
r=x**2
print('The result is: ', r)

Enter number: 4
The result is:  16.0

2) Месси - футболист, который забивает в трех лигах: LaLiga, Copa del Rey, UEFA.
Ваша задача посчитать все голы во всех трех лигах и вывести результат. Например:
5, 10, 2 → 17

In [ ]:
laliga=float(input('laliga= '))
copadelrey=float(input('codapelrey= '))
uefa=float(input('uefa= '))
r=laliga+copadelrey+uefa
print('Total Goals =', r)

laliga= 5
codapelrey= 10
uefa= 2
Total Goals = 17.0

3) Дается число. Нужно вывести следующее четное после него, не используя условные конструкции. Например:
* 4 → 6
* 9 → 10

(Hint) - нужно будет применить функцию `int()`

In [ ]:
x=int(input())
print(x+2)
y=int(input())
print(y+1)

4
6
9
10

4) Напишите программу, которая берет число n и высчитывает значение `n+nn+nnn`.

In [ ]:
n = int(input("Enter number n: "))
q = str(n)
t1 = q + q
t2 = q + q + q
comp = n + int(t1) + int(t2)
print("The result is:", comp)

Enter number n: 4
The result is: 492

5) Напишите программу, которая высчитывает среднее значение из трех чисел.

In [ ]:
x=float(input('x= '))
y=float(input('y= '))
z=float(input('z= '))
r=((x+y+z)/3)
print('Mean =', r)

x= 4
y= 8
z= 12
Mean = 8.0

6) Напишите программу, которая посчитает площадь треугольника по заданным параметрам.

In [46]:
import math
x=float(input('x= '))
y=float(input('y= '))
z=float(input('z= '))
p=(x+y+z)/2
print('Semi-perimeter =',p)
s=p*(p-x)*(p-y)*(p-z)
s=math.sqrt(s)
print('S =',s)

x= 10
y= 20
z= 30
Semi-perimeter = 30.0
S = 0.0

7) Найдите гипотенузу треугольника по двум заданным катетам.

In [ ]:
x=float(input('Cathetus x= '))
y=float(input('Cathetus y= '))
z=math.sqrt(x*x + y*y)
print('Hypotenuse =',z)

Cathetus x= 5
Cathetus y= 7
Hypotenuse = 8.602325267042627

8) Выполните следующее, дается число, выведите число противоположное ему.

In [ ]:
x=float(input('Enter a number: '))
z=-x
print('Result: ', z)

Enter a number: 4
Result:  -4.0